@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
}


/* General */

/* Navbar Section */
.navbar-Sec {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding: 0px 0px;
}


.cusnavbar .container .gigabitesoft-logo img {
    width: 252px;
    height: 36.2px;
}

.cusnavbar .container .navbar-collapse ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: rgb(0, 0, 0);
    margin-left: auto;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    text-decoration: underline;
    color: var(--bs-navbar-active-color);
}


.cusnavbar .container .navbar-collapse ul li button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 34px;
    gap: 8px;
    text-decoration: none;
    width: 106px;
    height: 37px;
    background: linear-gradient(87.47deg, #F66303 2.83%, #D85601 96.1%);
    border-radius: 50px;
}

.cusnavbar .container .navbar-collapse ul li button a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 34px;
    gap: 8px;
    text-decoration: none;
    width: 106px;
    height: 37px;
    background: linear-gradient(87.47deg, #F66303 2.83%, #D85601 96.1%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: #fff;
}

.first-sec {
    position: relative;
    top: 73px;
    margin-bottom: 150px;
}


/* Footer */
.footer-section {
    margin-top: 100px;
    width: 100%;
    background: #01575A;
}

.footer-section .footer-con .footer-body .row .company-contact img {
    width: 245px;
    height: 35.32px;
}

.footer-section .footer-con .footer-body .row .company-contact p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-section .footer-con .footer-body .row .company-contact p span {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.footer-section .footer-con .footer-body .row h6 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.footer-section .footer-con .footer-body .row p a {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

.footer-section .footer-con .footer-body .row p a:hover {
    text-decoration-line: underline !important;
    color: #F8F8F8;
}

.footer-body .row .company p a.active{
    cursor: context-menu;
}

.footer-bottom .row .footer-copyright h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.9);
}

/* Buttons */
.started-btn a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 34px;
    gap: 8px;
    width: 183px;
    height: 41px;
    background: linear-gradient(87.47deg, #F66303 2.83%, #D85601 96.1%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.started-btn a:hover {
    background: #4D4D4D;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: #FFFFFF;
    transition-duration: 300ms;
    transition: ease-out;
}

.learn-btn a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 34px;
    gap: 8px;
    width: 146px;
    height: 41px;
    background: linear-gradient(87.47deg, #F66303 2.83%, #D85601 96.1%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF;
}

.learn-btn a:hover {
    background: #4D4D4D;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    transition-duration: 300ms;
    transition: ease-out;
    color: #FFFFFF;
}

.learn-white-btn a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 34px;
    gap: 8px;
    width: 146px;
    height: 41px;
    border: 1px solid #1B8E93;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    color: #4D4D4D;
}

.learn-white-btn a:hover {
    background: #1B8E93;
    border: 1px solid #1B8E93;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: #FFFFFF;
}



/*1. HomePage */

/* 1. homePage-Qualified Leads Section/qualified-Cont */

.hero .qualified-Cont .leftQ-Con .qualified .img-24by7 {
    background-image: url(images/24by7.png);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    width: 168.04px;
    height: 125px;
    position: absolute;
    margin-left: 280px;
    margin-bottom: 45px;
}

.hero .qualified-Cont .leftQ-Con {
    margin: 0;
    padding: 0;
}

.hero .qualified-Cont .leftQ-Con h1 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 45px;
    color: #1B8E93;
}

.hero .qualified-Cont .leftQ-Con h5 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
}

.hero .qualified-Cont .leftQ-Con ul {
    margin-top: 10px;
}

.hero .qualified-Cont .leftQ-Con ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.hero .qualified-Cont .leftQ-Con ul li img {
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    margin-top: 2px;
}

.hero .qualified-Cont .leftQ-Con ul li span {
    margin-left: 10px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #4D4D4D;
}

.qualified-buttons {
    margin-top: 15px;
}

.rightQ-Con {
    margin: 0;
    padding: 0;
}

.rightQ-Con .image-home {
    background-image: url(images/home.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 550px;
    filter: drop-shadow(-25px -25px 106px rgba(27, 142, 147, 0.2));
    margin: 0;
    padding: 0;
}

/* 2. homePage-Expert Quality Container */

.expert-quality-Sec {
    margin-top: 50px;
}

.expert-quality-Con .expert-Title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.expert-quality-Con .expert-Title h3 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 53px;
    text-align: center;
    color: #4D4D4D;
}

.expert-quality-Con .expert-Title p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
}

.expert-quality-Con .quality-card {
    margin-top: 80px;
}

.expert-quality-Con .row .expertT h3 {
    padding-left: 16px;
    width: 480px;
    height: 40px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #1B8E93;
}

.expert-quality-Con .row .expertT p {
    height: 116px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: rgba(77, 77, 77, 0.8);
    margin-bottom: 0rem !important;
}



/* 3. homePage-Help Section  */

.help-Sec {
    padding: 80px 0;
    margin-top: 50px;
}

.help-Con {
    background-image: url(images/Get\ Appointment\ Now-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.help-Sec .row {
    padding: 70px 0px;
}

.help-Sec h3 {
    margin-left: 35px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.help-Sec p {
    width: 589px;
    height: 36px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.75);
    margin-left: 36px;
}

.help-Sec .help-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 34px;
    gap: 8px;
    width: 163px;
    height: 41px;
    background: linear-gradient(87.47deg, #F66303 2.83%, #D85601 96.1%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.help-Sec .help-btn a {
    width: 95px;
    height: 21px;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.help-Sec .help-btn:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 34px;
    gap: 8px;
    width: 163px;
    height: 41px;
    background: #4D4D4D;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.help-Sec .help-buttons {
    display: flex;
    align-items: center;
    padding-left: 93px;
}


/*  4. homePage-What's Different Section */

.different-Sec {
    margin-top: 50px;
}

.different-Con .row .diff-Con_One {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.different-Con .row .diff-Con_One h3 {
    width: 411px;
    height: 106px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 53px;
    color: #4D4D4D;
}

.diff-btn .btn-learn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 34px;
    gap: 8px;
    width: 146px;
    height: 41px;
    background: linear-gradient(87.47deg, #F66303 2.83%, #D85601 96.1%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.diff-btn .btn-learn a {
    width: 78px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF;
}

.different-Con .row .diff-Con-Two img {
    width: 50px;
    height: 40px;
    margin-top: 6px;
}

.different-Con .row .diff-Con-Two .bespke-logo {
    width: 45px;
    height: 32px;
}

.different-Con .row .diff-Con-Two h6 {
    width: 172px;
    height: 25px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #4D4D4D;
}

.different-Con .row .diff-Con-Two .diff-Two p {
    width: auto;
    height: auto;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-left: 21px;
    margin-bottom: 0.5rem !important;
    color: rgba(77, 77, 77, 0.8);
}



/*5. homePage-Bussiness Section */

.bussiness-Sec {
    margin-top: 150px;
}

.bussiness-Sec .row h4 {
    width: auto;
    height: auto;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #4D4D4D;
}

.bussiness-Con .bussiness-body .bussiness-features h3 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #4D4D4D;
}

.bussiness-Con .bussiness-body .bussiness-features p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: rgba(77, 77, 77, 0.8);
}

.bussiness-Con .bussiness-footer .bussiness-footerT h6 {
    margin-top: 20px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #4D4D4D;
}

.bussiness-Con .bussiness-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bussiness-Con .bussiness-btn .btn-started {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 34px;
    gap: 8px;
    width: 183px;
    height: 41px;
    background: linear-gradient(87.47deg, #F66303 2.83%, #D85601 96.1%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.bussiness-Con .bussiness-btn .bussiness-button button a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF;
    width: 115px;
    height: 21px;
}



/* 6. homePage-Choose Section */

.choose-Sec {
    margin-top: 150px;
}

.choose-main-Con .row .choose-Con_One h6 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 53px;
    color: #4D4D4D;
}

.choose-main-Con .row .choose-Con ul li::before {
    content: "•";
    color: #1B8E93;
    font-weight: bold;
    display: inline-block;
    width: 15px;
    font-size: 22px;
}

.choose-main-Con .row .choose-Con ul li span {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #4D4D4D;
}


/* 7. homePage-blog Section */

.blog-Sec {
    margin-top: 150px;
}

.blog-Sec .blog-Con .blog-T {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-Sec .blog-Con .blog-T h3 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 53px;
    color: #4D4D4D;
}

.blog-Sec .blog-Con .blog-B .blogs-Card .card {
    background-size: cover !important;
    border-radius: 10px !important;
    border: none;
}

.blogs-Card .card .blogCard-text h6 {
    width: 351px;
    height: 21px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: #1B8E93;
}

.blogs-Card .card .blogCard-text p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
}

.blog-Sec .blog-Con .blog-B .card:hover .image img {
    transform: scale(1.1);
}

.blog-Sec .blog-Con .blog-B .card:hover {
    border-radius: 10px !important;
}

.blog-Sec .blog-Con .blog-B .card .image {
    overflow: hidden;
    border-radius: 10px !important;

}

.blog-Sec .blog-Con .blog-B .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
    border-radius: 10px !important;
}




/*2. AboutPage  */

/* 1. aboutPage-Get-to-konow-Leads Section*/
.hero .about-Con .left-about-Con h1 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 50px;
    color: #4D4D4D;
    position: relative;
    top: 0px;
}

.hero .about-Con .left-about-Con h5 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 27px;
    position: relative;
    top: 0px !important;
    color: rgba(77, 77, 77, 0.75);
}

.hero .about-Con .right-about-Con {
    padding: 0px !important;
    margin: 0px !important;
}


/* 2. aboutPage-Guninue-Sec */
.genuine-Sec {
    position: relative;
    margin-top: 115px;
}

.genuine-Con .expert-quality .expertA p {
    width: 100%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 53px;
    color: #1B8E93;
}

.genuine-Con .expert-quality .quotedA p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: rgba(77, 77, 77, 0.8);
}

/* 3. aboutPage-Industries Section  */
.industries-Sec {
    position: relative;
    margin-top: 100px;
}

.industries-Con .row .Industries-title h6 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 53px;
    color: #4D4D4D;
}

.industries-Con .row .Industries-title p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: rgba(77, 77, 77, 0.8);
}

.industries-Con .row .Industries-Features .Industries-F h6 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #4D4D4D;
}

.industries-btn a {
    width: 183px;
    height: 41px;
}

.industries-btn a span {
    width: 115px;
    height: 21px;
}

.industries-Con .row .Industries-Features .Industries-F p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: rgba(77, 77, 77, 0.8);
}

/* 5. aboutPage-customer-Section */

.about-Con .right-about-Con .image-about {
    background-image: url(images/about.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: inherit;
    width: 100%;
    height: 520px;
    filter: drop-shadow(-25px -25px 106px rgba(27, 142, 147, 0.2));
    border-radius: 402px 0px 0px 3px;
    margin: 0;
    padding: 0;
}

.customer-Sec h2 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 53px;
    text-align: center;
    color: #4D4D4D;
}

.customer-Sec .customer-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}

.customer-Sec .customer-body .customer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 302px;
    height: 307px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(27, 142, 147, 0.25);
    border-radius: 10px;
}

.customer-Sec .customer-body .customer-card .feature-icon {
    width: 80px;
    height: 80px;
    position: relative;
    top: 10px;
}

.customer-Sec .customer-body .customer-card h3 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    position: relative;
    top: 20px;
    color: #4D4D4D;
}

.customer-Sec .customer-body .customer-card p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    position: relative;
    top: 33px;
    color: rgba(77, 77, 77, 0.8);
}



/* Service-Page */

/* 2. service-Page leads Section */
.about-Con .right-about-Con .image-service {
    background-image: url(images/services.png);
}

.leads-Sec {
    margin-top: 100px;
}

.leads-main-Sec .leads-Con-body .leads-Con_One h6 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 45px;
    color: #4D4D4D;
}

.leads-main-Sec .leads-Con-body .leads-Con_One p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: rgba(77, 77, 77, 0.8);
}

.leads-Sec .row .leads-Con ul li {
    display: flex;
    align-items: center;
}

.leads-Sec .row .leads-Con ul li p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    margin-left: 5px;
    margin-top: 7px;
    color: #4D4D4D;
    width: 195px;
    height: 28px;
    margin-right: 20px;
    margin-bottom: 0px;
    transition: 0.2s linear;
}

.leads-Sec .row .leads-Con ul li p:hover {
    color: #1B8E93 !important;
    margin-right: 25px !important;
}

.leads-Sec .row .leads-Con ul li a {
    text-decoration: none;
}

.leads-Sec .row .leads-Con ul li a:hover {
    color: #1B8E93 !important;
}

.leads-Sec .row .leads-Con ul li i:hover {
    color: #1B8E93 !important;
    margin-left: 5px !important;
}

.leads-Sec .row .leads-Con ul li:hover {
    color: #1B8E93 !important;

}

.leads-Sec .row .leads-Con ul li::before {
    content: "•";
    color: #1B8E93;
    font-weight: bold;
    display: inline-block;
    width: 15px;
    font-size: 30px;
}

.leads-Sec .row .leads-Con ul li i {
    margin-top: 15px;
    transition: 0.2s linear;
}



/* mortgage -service Page  */

.breadCrumb-Sec {
  margin-top: 140px;
}

.breadcrumb-item.active {
    color: #4D4D4D;
    cursor: context-menu;
}

.breadCrumb-Sec .breadCrumb-Con nav ol li a span {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(77, 77, 77, 0.8);
}

.breadCrumb-Sec .breadCrumb-Con nav ol li a {
    text-decoration: none;
}

.breadCrumb-Sec .breadCrumb-Con nav ol li {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
}

.mortage-Sec {
    position: relative;
    top: 60px;
}

.mortage-Sec .mortage-Con .mortage-title h2 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 66px;
}

.mortage-Sec .mortage-Con .mortage-title h6 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: rgba(77, 77, 77, 0.9);
    padding-top: 15px;
}

.mortage-Sec .mortage-Con .mortage-title p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: rgba(77, 77, 77, 0.85);
    padding-top: 10px;
}

.mortage-Sec .mortage-Con .mortage-item h4 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

.mortage-Sec .mortage-Con .mortage-item p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
    color: rgb(45 44 44 / 80%);
}



/* ContactPage */

/* 2. ContactForm Section */
.about-Con .right-about-Con .image-contact {
    background-image: url(images/contact.png);
}

.contactForm .label {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.contact-Con p span {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: rgba(77, 77, 77, 0.8);
}

.contact-Con p {
    margin-bottom: 0.5rem !important;
}

.contact-Con p i {
    width: 10px;
    height: 10px;
}

.contact-Con p .fa {
    font-size: 15px;
}

.contactForm button {
    width: 100%;
    display: block;
}

#contactForm .form-groupC button span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

#contactForm .form-groupC label {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #4D4D4D;
}

#contactForm .form-groupC input {
    height: 45px;
}

#contactForm .form-groupC input,
textarea {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    width: 628px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(27, 142, 147, 0.25);
    border-radius: 4px;

}

#contactForm .form-groupC textarea {
    width: 628px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(27, 142, 147, 0.25);
    border-radius: 4px;
    height: 100px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: rgba(77, 77, 77, 0.5);
}

#contactForm .form-groupC button {
    width: 628px;
    height: 41px;
    background: linear-gradient(87.47deg, #F66303 2.83%, #D85601 96.1%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

#contactForm .form-groupC button:hover {
    background: #4D4D4D;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    transition-duration: 300ms;
    transition: ease-out;
    color: #FFFFFF;
}



/* Blog-homepage Page */
.breadCrumbBlog-Sec {
   margin-top: 140px;
}

.breadCrumb-Sec .breadCrumb-Con nav ol li span {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
}

.blogPage-Sec {
    position: relative;
    top: 40px;
}

.blogPage-Sec .blogPage-title h6 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    color: #4D4D4D;
}

.blogPage-Sec .blogPage-title .blogImg {
    height: 450px;
    background: url(images/blog1.png) center center;
    background-size: cover;
    border-radius: 20px;
    filter: drop-shadow(12px 12px 50px rgba(27, 142, 147, 0.25));
}

.blogPage-Sec .blogPage-title p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: rgba(77, 77, 77, 0.8);
    margin-top: 50px;
}

.blogPage-Sec .blogPage-body h6 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: justify;
    color: #4D4D4D;

}

.blogPage-Sec .blogPage-body .blogOne-article ol li p,
.blogPage-body p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: rgba(77, 77, 77, 0.8);
}




/* Login Page */

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.login-Sec .half .row .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 30px;
    margin-top: 70px;
    width: 510px;
    height: 634.97px;
}

.login-Sec .form-body .form-T .remember-password {
    display: flex;
    align-items: center;
}

.half .contents .form-control,
.half .bg .form-control {
    height: 44px;
    width: -webkit-fill-available;
    background: #F8F8F8;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 15px;
    gap: 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background: #F8F8F8;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.form-group {
    width: -webkit-fill-available;
}

.form-T .form-group input {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: rgba(77, 77, 77, 0.5);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 15px;
    gap: 10px;
    width: 410px;
    height: 44px;
}

.login-Sec .half .row .login-form h5 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 44px;
    color: #1B8E93;
}

.form-body h5 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 44px;
    color: #1B8E93;
}

.login-Sec .half .row .login-form p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
}

.half .btn {
    background: linear-gradient(87.47deg, #F66303 2.83%, #D85601 96.1%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 100%;
    color: white;
}

.half .btn:hover {
    background: #4D4D4D;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    transition-duration: 300ms;
    transition: ease-out;
}

.half .btn a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #F8F8F8;
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

.half,
.half .container>.row {
    height: 100vh;
}

.half .forgot-pass {
    position: relative;
    bottom: 2px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 14px;
    color: rgba(77, 77, 77, 0.8);
}

.half .forgot-pass:hover {
    text-decoration: underline !important;
}

.checkbox-primary {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 14px;
    color: rgba(77, 77, 77, 0.8);
}

.checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

input[type="radio"],
input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

button,
input {
    overflow: visible;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
}

.checkbox-wrap input:checked~.checkmark:after {
    display: block;
    content: "\f14a";
    font-family: "FontAwesome";
    color: #f52202;
    width: 11px;
    height: 14px;
}

.checkmark:after {
    content: "\f0c8";
    font-family: "FontAwesome";
    position: absolute;
    color: rgba(249, 246, 246, 0.1);
    width: 10px;
    height: 10px;
    margin-top: 0px;
    margin-left: 3px;
    transition: 0.3s;
    background: #FFFFFF;
    border: 0.5px solid rgba(77, 77, 77, 0.5);
    border-radius: 2px;
}

.form-T .row small {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: rgba(77, 77, 77, 0.8);
}

.form-T .row small a {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #4D4D4D;
}

.form-T .row small a:hover {
    text-decoration: underline !important;
}


/* SignUp Page*/

.signup-Con .container>.row {
    height: 903.97px;
    position: relative;
    top: 88px;
}

.form-body-Signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 628px;
    height: 903.97px;
    padding: 30px;
    background: #F8F8F8;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-top: 80px;
}


.form-body-Signup h5 strong {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 44px;
    color: #1B8E93;
}

.form-body-Signup p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
}

.form-group-Signup label {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #4D4D4D;
}

.form-group-Signup input {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    background: #FFFFFF !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 4px !important;
    color: rgba(77, 77, 77, 0.5) !important;
}

.signupForm .row .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group-Signup select {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: rgba(77, 77, 77, 0.5);
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    height: 44px;
    margin-top: 4px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}

.signupForm .row .form-group-Signup-Submit .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 34px;
    gap: 8px;
    height: 41px;
    background: linear-gradient(87.47deg, #F66303 2.83%, #D85601 96.1%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.signupForm .row .form-group-Signup-Submit .btn:hover {
    background: #4D4D4D;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    transition-duration: 300ms;
    transition: ease-out;
}



/* Media Queries */


@media (max-width: 992px) {

    /* Navbar */
    .cusnavbar .container .navbar-collapse ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 10px;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        color: rgb(0, 0, 0);
        margin: auto;
    }

    .cusnavbar .container .show {
        position: absolute;
        z-index: 1;
        right: 0px;
        top: 57px;
        background-color: white;
        width: 100%;
        /* transition: 0.3s linear; */
    }

    .cusnavbar .container .user2 {
        display: block !important;
    }

    .cusnavbar .container .gigabitesoft-logo img {
        width: 174.05px;
        height: 26px;
    }

    .navbar-toggler {
        border: none;
        border-radius: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-toggler-icon {
        margin-top: 5px;
        width: 25px !important;
        height: 25px !important;
        font-weight: 900;
    }

    .first-sec {
        position: relative;
        top: 57px;
        margin-bottom: 180px;
    }

    /* Footer */
    .footer-section .footer-con .footer-body .row .company-contact img {
        width: 170px;
        height: 25.32px;
    }

    /* Help-Sec*/
    .help-Con {
        background-image: url(images/get-appointment-now-tab.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .help-Sec p {
        font-size: 12px;
        margin-left: 74px;
    }

    .help-Sec h3 {
        font-size: 27px;
        text-align: center;
        margin-left: 0px;
    }

    .help-Sec .help-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0px !important;
    }


    /* 1. homePage-Qualified Leads Section */
    .qualified-Cont .leftQ-Con {
        text-align: start !important;
        margin-top: 35px;
    }

    .hero .qualified-Cont .leftQ-Con img {
        left: 143px;
    }

    .hero .qualified-Cont .leftQ-Con h1 {
        position: relative;
        right: 94px;
    }

    .rightQ-Con .image-home {
        background-image: url(images/home-Mobile.png);
        background-repeat: no-repeat;
        background-position: inherit;
        background-size: contain;
        width: 100%;
        height: 817px;
        margin: 0;
        padding: 0;
    }

    .hero .qualified-Cont .leftQ-Con .qualified {
        width: 450px;
        height: 200px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 6px;
        position: absolute;
        top: 425px;
        left: -4px;
        z-index: 1;
    }

    .hero .qualified-Cont .leftQ-Con .qualified .img-24by7 {
        margin-left: 110px;
    }

    .hero .qualified-Cont .leftQ-Con h5 {
        margin-top: 50px;
    }


    /* 2. homePage-Expert Quality Section */
    .expert-quality-Con .expert-Title h3 {
        font-size: 37px;
    }

    .quality-card .expertImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .expert-quality-Con .row .expertT {
        align-items: center;
    }

    .expert-quality-Con .row .expertT h3 {
        width: auto;
        height: auto;
    }

    .expert-quality-Con .row .expertT p {
        width: 540px;
    }

    .expert-quality-Con .quality-card .min-Order {
        order: 2;
        position: relative;
        margin: 20px 0px;
    }

    /* 4. homePage-What's Different Section */
    .different-Con .row .diff-Con_One h3 {
        width: auto;
        height: auto;
        text-align: center;
    }

    .diff-Con_One .learn-btn {
        justify-content: center;
        align-items: center;
    }


    /* 6.  homePage-Choose Section */
    .choose-Con_One {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .choose-Con {
        margin: 0px;
        padding: 0px;
    }

    .choose-Con ul {
        width: 205px;
        margin: auto;
    }

    .choose-main-Con .row .choose-Con_One h6 {
        font-size: 28px;
        line-height: 35px;
    }

    /* 7. homePage-blog Section */
    .blogs-Card .card .blogCard-text h6 {
        width: auto;
        height: auto;
        font-size: 8px;
        line-height: 7px;
    }

    .blogs-Card .card .blogCard-text p {
        width: auto;
        height: auto;
        font-size: 8px;
        line-height: 10px;

    }

    .blog-Sec .blog-Con .blog-T .row .col-4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* About Page */

    .about-Con .right-about-Con .image-about {
        border: none;
        filter: none;
        border-radius: inherit;
        width: auto;
    }

    .hero .about-Con .left-about-Con {
        margin-top: 40px;
    }

    .hero .about-Con .left-about-Con h5 {
        margin-top: 35px;
        text-align: center;
    }

    .hero .about-Con .left-about-Con .qualified-buttons {
        bottom: 0px !important;
    }


    /* Services Page */
    .leads-Con ul {
        width: auto;
        margin: auto;
    }


    /* COntact-page */
    .contact-Con p {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact-Con p i {
        margin-bottom: 5px !important;
    }

    .contact-Con p.phone {
        order: 1;
        margin-bottom: 15px !important;
    }

    .contact-Con p.envelope {
        order: 2;
    }

    .contact-Con p.map {
        order: 3;
    }

    .about-Con .right-about-Con .image-contact {
        border: none;
        filter: none;
        border-radius: inherit;
        width: auto;
    }

}


@media (max-width: 774px) {

    /* footer */
    .footer-section .footer-con .footer-body .row .company-contact p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer-section .footer-con .footer-body .row .company-contact p span {
        margin-top: 5px;
    }

    .footer-section .footer-con .footer-body .row h6 {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        margin-top: 10px !important;
        margin-bottom: 0px !important;
    }

    .footer-section .footer-con .footer-body .row p {
        margin-bottom: 0px !important;
        margin-top: 10px !important;
    }

    .footer-section .footer-con .footer-body .row .icons-footer {
        margin-top: 10px !important;
        margin-bottom: 30px !important;
    }

    .footer-section .footer-con .footer-body .row p a {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
    }

    /* Help-Sec*/
    .help-Con {
        background-image: url(images/get-appointment-now-Mobile.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .help-Sec p {
        font-size: 12px;
        width: auto;
        height: auto;
    }

    .help-Sec .help-buttons {
        justify-content: center;
        padding-left: initial;
    }

    /* 2. homePage-Expert Quality Section */
    .expert-quality-Con .expert-Title h3 {
        font-size: 27px;
    }


    .rightQ-Con .image-home {
        background-image: url(images/home-Mobile.png);
        background-repeat: no-repeat;
        background-position: inherit;
        background-size: contain;
        width: 100%;
        height: 640px;
        margin: 0;
        padding: 0;
    }

    .hero .qualified-Cont .leftQ-Con .qualified {
        top: 320px;
    }

    .leftQ-Con .leftQ-p {
        position: absolute;
        width: 356px;
        height: 176px;
        left: -4px;
        top: 527px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 6px;
    }

    .hero .qualified-Cont .leftQ-Con h1 {
        position: absolute;
        top: 41px;
        left: 22px;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
    }

    .leftQ-Con .leftQ-p .img-24by7 {
        background-image: url(images/24by7-Mobile.png);
        background-repeat: no-repeat;
        background-position: inherit;
        background-size: cover;
        position: absolute;
        width: 168.04px;
        height: 125px;
        left: 176px;
        top: 15px;
    }

    .qualified-buttons {
        position: relative;
        top: 0px;
        margin-top: 20px;

    }



    /* about page */

    /* 3. aboutPage-Industries Section */

    .industries-Con .row .Industries-title h6 {
        font-size: 35px;
        line-height: 40px;
    }

    .industries-Con .row .Industries-title p {
        font-size: 17px;
        line-height: 20px;
    }



    /* COntact-Page */

    #contactForm .form-groupC input,
    textarea,
    .contact-btn {
        width: -webkit-fill-available !important;
    }


    /* SignUp Page*/
    .form-group-Signup {
        width: -webkit-fill-available;
    }

    .signupForm .row .form-group input {
        width: -webkit-fill-available !important;
    }

    .form-body-Signup {
        width: 95%;
        height: 1420px !important;
    }

    .img {
        height: 1600px !important;
    }

    .signupForm .row .col-md-12 {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* SignIn page */
    .img-signin {
        background-image: url(images/Login-Mobile.png) !important;
        height: 796px !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


}

@media (max-width: 630px) {
    .hero .qualified-Cont .leftQ-Con .qualified {
        top: 220px;
    }
}

@media (max-width: 578px) {

    /* 1. homePage-Qualified Leads Section- */
    .hero .qualified-Cont .leftQ-Con h1 {
        font-size: 32px;
        line-height: 40px;
        right: 43px;
    }

    .hero .qualified-Cont .leftQ-Con .qualified {
        width: 400px;
        top: 190px;
    }

    .hero .qualified-Cont .leftQ-Con img {
        top: 3px;
        left: 125px;
        width: 200px;
        height: 160px;
    }

    .rightQ-Con .image-home {
        height: 490px;
    }

    .hero .qualified-Cont .leftQ-Con h5 {
        font-size: 16px !important;
        width: 295px !important;
        margin-right: 24px !important;
    }

    .hero .qualified-Cont .leftQ-Con ul li img {
        width: 13px;
        height: 13px;
    }

    .hero .qualified-Cont .leftQ-Con ul li span {
        width: auto !important;
        font-size: 13px;
    }

    .hero .qualified-Cont .leftQ-Con ul li {
        margin-left: 75px;
    }

    .expert-quality-Con .row .expertT p {
        width: auto;
        height: auto;
        text-align: center;
    }

    /* 7. homePage-blog Section */
    .blogs-Card .card .blogCard-text h6 {
        font-size: 14px;
        line-height: 21px;
    }

    .blogs-Card .card .blogCard-text p {
        font-size: 14px;
        line-height: 25px;
    }


    /* About page */


    .hero .about-Con .left-about-Con h1 {
        position: absolute;
        top: 295px;
        left: -1px;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 600;
        font-size: 45;
        line-height: 75px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 0px 6px 6px 0px;
        width: 350px;
        height: 170px;
    }

    .about-Con .right-about-Con .image-about {
        background-image: url(images/about-Mobile.png);
        background-repeat: no-repeat;
        background-position: cover;
        background-size: cover;
        width: 100%;
        height: 467px;
    }

    /* 3. aboutPage-Industries Section */
    .industries-Con .row .Industries-title h6,
    p {
        text-align: center;
    }

    .industries-btn {
        align-items: center;
        justify-content: center;
    }

    .Industries-Features .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Industries-Features .row .Industries-F {
        border-right: 0px !important;
    }

    .industries-Con .row .Industries-Features .Industries-F h6 {
        text-align: center;
    }

    .industries-Con .row .Industries-Features .industries-border {
        border-bottom: 1px solid #1B8E9340 !important;
    }

    .industries-Con .row .Industries-Features .industries-margin {
        margin-top: 20px;
    }


    .about-Con .right-about-Con .image-service {
        background-image: url(images/service-Mobile.png);
        border: none;
        filter: none;
        border-radius: inherit;
    }

    .leads-Sec .row .leads-Con ul li p {
        text-align: start !important;
    }

    .about-Con .right-about-Con .image-contact {
        background-image: url(images/contact-Mobile.png);
        border: none;
        filter: none;
        border-radius: inherit;
    }

    .login-Sec .half .row .login-form {
        width: 95%;
    }

    .login-Sec .half .row .login-form .form-T {
        width: -webkit-fill-available !important;
    }

    .login-Sec .half .row .login-form .form-T .form-group input {
        width: -webkit-fill-available !important;
    }


}

@media (max-width: 500px) {

    .hero .qualified-Cont .leftQ-Con .qualified {
        width: 400px;
        top: 170px;
    }

    .rightQ-Con .image-home {
        height: 415px;
    }

    /* 2. homePage-Expert Quality Section  */
    .expert-quality-Con .expert-Title h3 {
        font-size: 20px;
    }

    .expert-quality-Con .expert-Title p {
        font-size: 10px;
    }

    /* 3. homePage-Help-Sec */
    .help-Sec h3 {
        font-size: 21px;
        text-align: start;
    }

    .help-Sec p {
        font-size: 12px;
        margin-left: auto;
    }

}

@media (max-width: 450px) {

    /* 1. homePage-Qualified Leads Section */
    .hero .qualified-Cont .leftQ-Con ul li {
        margin-left: 77px;
    }

    .hero .qualified-Cont .leftQ-Con h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .hero .qualified-Cont .leftQ-Con .qualified {
        width: 356px;
        height: 176px;
        top: 140px;
    }

    .hero .qualified-Cont .leftQ-Con .qualified .img-24by7 {
        margin-left: 141px;
        margin-bottom: 15px;
    }

    .hero .qualified-Cont .leftQ-Con img {
        top: -17px;
        left: 97px;
        width: 150px;
        height: 127px;
    }

    .hero .qualified-Cont .leftQ-Con h5 {
        font-size: 21px;
        width: 369px;
        left: 24px;
    }

    .hero .qualified-Cont .leftQ-Con ul li span {
        width: 275px;
        margin-right: 15px;
        font-size: 13px;
    }

    .qualified-buttons .started-btn a {
        padding: 16px 15px;
        width: 143px;
        height: 30px;
    }

    .qualified-buttons .learn-white-btn a {
        padding: 16px 15px;
        width: 115px;
        height: 30px;
    }

    .rightQ-Con .image-home {
        height: 371spx;
    }


    /* 2. homePage-Expert Quality Section */
    .expert-quality-Con .row .expertT h3 {
        font-size: 25px;
    }

    .expert-quality-Con .row .expertT p {
        font-size: 16px;
    }

}

@media(max-width:415px) {

    /* 1. homePage-Qualified Leads Section */
    .hero .qualified-Cont .leftQ-Con ul li {
        margin-left: 51px;
    }

}

@media (max-width: 385px) {


    /* 1. homePage-Qualified Leads Section */
    .hero .qualified-Cont .leftQ-Con .qualified {
        width: 330px !important;
        height: 170px;
    }

    .hero .qualified-Cont .leftQ-Con .qualified {
        width: 400px;
        top: 100px;
    }

    .rightQ-Con .image-home {
        height: 317px;
    }

    .hero .qualified-Cont .leftQ-Con .qualified .img-24by7 {
        margin-left: 160px;
        margin-bottom: 26px;
    }

    .hero .qualified-Cont .leftQ-Con h5 {
        left: 11px;
    }

    .hero .qualified-Cont .leftQ-Con img {
        left: 68px !important;
    }

    .hero .qualified-Cont .leftQ-Con ul li {
        margin-left: 7px;
    }

    .hero .qualified-Cont .leftQ-Con ul li span {
        margin-right: 0px;
    }

    /* 2. homePage-Expert Quality Section */
    .expert-quality-Con .expert-Title h3 {
        line-height: 16px;
        font-size: 15px;
    }

    .expert-quality-Con .expert-Title p {
        font-size: 9px;
    }

    .expert-quality-Con .row .expertT h3 {
        font-size: 19px;
        padding-left: initial;
    }

    .expert-quality-Con .row .expertT p {
        font-size: 14px;
    }

    /* help-Section */
    .help-Sec h3 {
        font-size: 17px;
    }

    .help-Sec p {
        font-size: 11px;
        text-align: center;
        line-height: 16px;
    }

    .help-Sec .help-btn {
        padding: 6px 18px;
        width: 140px;
        height: 30px;
    }

    .blog-Sec .blog-Con .blog-B .blogs-Card .card {
        width: auto;
        height: auto;
    }


    /* About Page */
    .hero .about-Con .left-about-Con h1 {
        font-size: 32px;
        line-height: 48px;
        /* width: auto; */
        width: 204px;
        height: 150px;
    }

    .hero .about-Con .left-service h1 {
        height: 104px;
        top: 315px;
    }

    .hero .about-Con .left-contact h1 {
        height: 110px;
        top: 315px;
    }

    /* 2. aboutPage-Guninue-Sec */
    .genuine-Con .expert-quality .expertA p {
        font-size: 32px;
        line-height: 40px;
    }

    .genuine-Con .expert-quality .quotedA p {
        font-size: 14px;
        line-height: 18px;
    }

    /* 5. aboutPage-customer-Section */
    .customer-Sec h2 {
        font-size: 32px;
        line-height: 40px;
    }



    /* SignUp page */

    .form-body-Signup img {
        width: 254px;
    }

    .form-body-Signup h5 {
        font-size: 22px;
    }

    .half .row .login-form a img {
        width: 255px;
    }

}



@media (max-width: 333px) {

    /* help-Section */
    .help-Sec h3 {
        font-size: 15px;
    }

    .help-Sec p {
        font-size: 9px;
    }

    .help-Sec .help-btn {
        padding: 6px 18px;
        width: 137px;
        height: 24px;
    }

    .hero .qualified-Cont .leftQ-Con .qualified {
        width: 400px;
        top: 90px;
    }

    .hero .qualified-Cont .leftQ-Con .qualified {
        width: 290px !important;
        height: 150px;
    }

    .hero .qualified-Cont .leftQ-Con .qualified .img-24by7 {
        width: 126.04px;
        height: 90px;
    }

    .hero .qualified-Cont .leftQ-Con h1 {
        top: 11px;
        left: 17px;
    }

    .hero .qualified-Cont .leftQ-Con h5 {
        margin-right: 0px !important;
    }

    .rightQ-Con .image-home {
        height: 265px;
    }
}

@media (max-width: 300px) {

    .form-body-Signup {
        width: 95%;
        height: 1475px !important;
    }

    .half .btn a {
        font-size: 12px;
    }

    .form-body-Signup h5 strong {
        font-size: 20px;
    }
}